@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body { 
    box-sizing: border-box;
    background-color: #e3e4e5;
}
/* HEADER SECTION */
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s;
    z-index: 10;
}
/* Rowone */
header .rowone {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 15px 15px 15px 40px;
    width: 100%;
    margin-bottom: 0;
}
header .rowone .colleft i {
    margin-right: 15px;
}
header .rowone .asistenBar {
    display: flex;
    list-style: none;
}
header .rowone .asistenBar li {
    margin-left: 30px;
}
header .rowone .asistenBar a {
    color: #fff;
    text-decoration: none;
}
/* Rowtwo */
header .rowtwo  {
    background-color: #fff;
    padding: 15px 15px 15px 40px;
    width: 100%;
    margin-top: 0;
}
header .rowtwo .container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header .rowtwo .container .colleft {
    display: flex;
    align-items: center;
    
}
header .rowtwo .container .colleft .logo {
    width: 200px;
    height: 80px;
    margin-right: 60px;
}
header .rowtwo .container .colleft .logo img {
    width: 100%;
}
header .rowtwo .container .colleft .searchBar{
    position: relative;
}
header .rowtwo .container .colleft .searchBar input {
    padding: 15px;
    border-radius: 20px;
    width: 350px;
    outline: none;
    color: #000;
    border: none;
    background-color: #e3e4e5;
}
header .rowtwo .container .colleft .searchBar input:hover {
    border: 1px solid #000;
}
header .rowtwo .container .colleft .searchBar input:focus {
    border: 1px solid #000;
}
header .rowtwo .container .colleft .searchBar input::placeholder {
    color: #000;
}
header .rowtwo .container .colleft .searchBar button {
    padding: 15px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1498d5;
    color: #fff;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
header .rowtwo .container .colleft .searchBar button:hover {
    background-color: #000;
}
header .rowtwo .container .colright ul {
    display: flex;
}
header .rowtwo .container .colright ul li {
    list-style: none;
    margin-right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .rowtwo .container .colright ul li a {
    color: #000;
    text-decoration: none;
}
header .rowtwo .container .colright ul li i {
    margin-right: 10px;
    font-size: 30px;
}
header .rowtwo .container .colright ul .zero {
    color: #fff;
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
}
header .rowtwo .container .colright .responsiveBar {
    font-size: 30px;
    display: none;
}
header .rowtwo .searchBarResponsive {
    display: none;
}
/* Rowthree */
header .rowthree {
    background-color: #e3e4e5;
    padding: 15px 15px 15px 40px;
    width: 100%;
}
header .rowthree ul {
    display: flex;
}
header .rowthree ul li {
    list-style: none;
    margin-right: 30px;
}
header .rowthree ul li a {
    text-decoration: none;
    color: #000;
    transition: .4s;
}
header .rowthree ul li a:hover {
    color: #1498d5;
}
/* RESPONSIVE MENU */
header .responsiveMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 55px;
    background-color: #fff;
    display: none;
}
header .responsiveMenu .firstPart {
    margin: 25px;
    margin-bottom: 0;
}
header .responsiveMenu .firstPart .firstOne ul {
    display: flex;
    justify-content: space-between;
}
header .responsiveMenu .firstPart .firstOne ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}
header .responsiveMenu .firstPart .firstOne ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
header .responsiveMenu .firstPart .firstOne ul li i {
    font-size: 30px;
    margin-left: 10px;
}
header .responsiveMenu .firstPart .firstSecond ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .responsiveMenu .firstPart .firstSecond ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
    margin-right: 20px;
}
header .responsiveMenu .firstPart .firstSecond ul li a {
    color: #000;
    text-decoration: none;
}
header .responsiveMenu .firstPart .firstSecond ul li i {
    font-size: 20px;
    margin-right: 10px;
}
header .responsiveMenu .secondPart {
    background-color: #e3e4e5;
}
header .responsiveMenu .secondPart .container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #000;
}
header .responsiveMenu .secondPart .container ul .withoutBorder {
    border-bottom: none;
}
header .responsiveMenu .secondPart .container ul li a {
    color: #000;
    text-decoration: none;
}
/* SECTION  ONE */
.textResponsive {
    display: none;
}
.bestSalesOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    background-image: url(img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bestSalesOne .text {
    width: fit-content;
    margin-bottom: 100px;
    margin-left: 15%;
}
.bestSalesOne .text p:first-child {
    color: #fff;
    font-size: 20px;
    background-color: #ff681f;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 20px;
}
.bestSalesOne .text h1 {
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.bestSalesOne .text span {
    margin-bottom: 20px;
    width: fit-content;
    font-size: 20px;
    display: block;
}
.bestSalesOne .text button {
    background-color: #1498d5;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}
.bestSalesOne .text button:hover {
    background-color: #000;
}
.bestSalesOne .text button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
/* SECTION TWO */
.sectionTwo {
    padding: 50px;
    background-color: #e3e4e5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionTwo .container {
    height: 500px;
    width: 48%;
    border: 10px solid rgb(1, 1, 180);
}
.sectionTwo .left {
    background-image: url(img/img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionTwo .right {
    background-image: url(img/img-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionTwo .container .text {
    margin: 10%;
}
.sectionTwo .text p:first-child {
    color: #fff;
    font-size: 20px;
    width: fit-content;
    padding: 0 10px;
    background-color: rgb(1, 1, 180);
    margin-bottom: 15px;
}
.sectionTwo .text h1 {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #fff;
}
.sectionTwo .text span {
    margin-bottom: 15px;
    width: fit-content;
    font-size: 20px;
    display: block;
    color: #fff;
}
.sectionTwo .text button {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    transition: all 0.5s;
}
.sectionTwo .text button:hover {
    background-color: rgb(1, 1, 180);
    color: #fff;
}
/* SECTION THREE */
.sectionThree {
    margin: 0 50px 50px 50px;
    background-color: #fff;
    padding: 70px 0;
}
.sectionThree .container {
    margin: 0 50px;
}
.sectionThree .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sectionThree .container ul li {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.sectionThree .container ul li i {
    color: #1498d5;
    font-size: 50px;
    margin-right: 20px;
}






.backimg {
    
    width: 100%;
    height: 100vh;
    
    
}
















/* R E S P O N S I V E      T A B L E T*/
@media screen and (max-width: 1100px) {
    /* HEADER SECTION */
    /* Rowone */
    header .rowone {
        padding: 15px 15px 15px 15px;
    }
    header .rowone .asistenBar {
        display: none;
    }
    /* Rowtwo */
    header .rowtwo {
        padding: 15px 15px 15px 15px;
    }
    header .rowtwo .container {
        padding: 0;
        align-items: center;
        height: fit-content;
    }
    header .rowtwo .container .colleft .logo  {
        margin-right: 0;
    }
    header .rowtwo .container .colleft .searchBar {
        display: none;
    }
    header .rowtwo .container .colleft .logo {
        width: 200px;
        height: 100%;
    }
    header .rowtwo .container .colright .hideItem {
        display: initial;
    }
    header .rowtwo .container .colright .responsiveBar {
        display: inline;
        margin-right: 0;
    }
    /* SEARCHBARRESPONSIVE */
    header .rowtwo .searchBarResponsive{
        display: inline-block;
        position: relative;
        margin-top: 15px;
        width: 100%;
    }
    header .rowtwo .searchBarResponsive input {
        padding: 15px;
        border-radius: 20px;
        width: 100%;
        outline: none;
        color: #000;
        border: none;
        background-color: #e3e4e5;
    }
    header .rowtwo .searchBarResponsive input:hover {
        border: 1px solid #000;
    }
    header .rowtwo .searchBarResponsive input:focus {
        border: 1px solid #000;
    }
    header .rowtwo .searchBarResponsive input::placeholder {
        color: #000;
    }
    header .rowtwo .searchBarResponsive button {
        padding: 15px 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #1498d5;
        color: #fff;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    header .rowtwo .searchBarResponsive button:hover {
        background-color: #000;
    }
    /* Rowthree */
    header .rowthree {
        display: none;
    }
    /* RESPONSIVE MENU */
    header .responsiveMenu {
    display: none;
    }
    /* SECTION  ONE*/
    .sectionOne .text {
        display: none;
    }
    .sectionOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionOne .textResponsive {
        display: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 250px;
        background-color: #e3e4e5;
    }
    .sectionOne .textResponsive p:first-child {
        color: #fff;
        font-size: 20px;
        background-color: rgb(188, 8, 8);
        width: fit-content;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .sectionOne .textResponsive h1 {
        width: fit-content;
        text-align: center;
        font-size: 50px;
        font-weight: 520;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    .sectionOne .textResponsive span {
        margin-bottom: 20px;
        width: fit-content;
        font-size: 20px;
        display: block;
    }
    .sectionOne .textResponsive button {
        background-color: #1498d5;
        border: none;
        border-radius: 50px;
        padding: 15px 20px;
        cursor: pointer;
        margin-bottom: 40px;
        position: relative;
    }
    .sectionOne .textResponsive button a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .bestSalesOne {
        height: 500px;
    }
    /* SECTION TWO */
    .sectionTwo {
        flex-direction: column;
        gap: 50px;
    }
    .sectionTwo .container {
        width: 100%;
    }
    /* SECTION THREE */
    .sectionThree {
        margin: 0;
        margin-bottom: 20px;
    }
    .sectionThree .container {
        margin: 0;
        
    }
    .sectionThree .container ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .sectionThree .container ul li {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .sectionThree .container ul .margin {
        margin-bottom: 70px;
    }
    .sectionThree .container ul li i {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/* R E S P O N S I V E      C E L L P H O N E*/
@media screen and (max-width: 640px) {
    header {
        overflow-y: scroll;
    }
    /* Rowone */
    header .rowone {
        padding: 15px 15px 15px 15px;
    }
    header .rowone .asistenBar {
        display: none;
    }
    /* Rowtwo */
    header .rowtwo {
        padding: 15px 15px 15px 15px;
    }
    header .rowtwo .container {
        padding: 0;
        align-items: center;
        height: fit-content;
    }
    header .rowtwo .container .colleft .logo  {
        margin-right: 0;
    }
    header .rowtwo .container .colleft .searchBar {
        display: none;
    }
    header .rowtwo .container .colleft .logo {
        width: 150px;
        height: 100%;
    }
    header .rowtwo .container .colright .hideItem {
        display: none;
    }
    header .rowtwo .container .colright .responsiveBar {
        display: inline;
        margin-right: 0;
    }
    /* SEARCHBARRESPONSIVE */
    header .rowtwo .searchBarResponsive{
        display: inline-block;
        position: relative;
        margin-top: 15px;
        width: 100%;
    }
    header .rowtwo .searchBarResponsive input {
        padding: 15px;
        border-radius: 20px;
        width: 100%;
        outline: none;
        color: #000;
        border: none;
        background-color: #e3e4e5;
    }
    header .rowtwo .searchBarResponsive input:hover {
        border: 1px solid #000;
    }
    header .rowtwo .searchBarResponsive input::placeholder {
        color: #000;
    }
    header .rowtwo .searchBarResponsive button {
        padding: 15px 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #1498d5;
        color: #fff;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    header .rowtwo .searchBarResponsive button:hover {
        background-color: #000;
    }
    /* Rowthree */
    header .rowthree {
        display: none;
    }
    /* RESPONSIVE MENU */
    header .responsiveMenu {
        display: none;
    }
    /* SECTION  ONE*/
    .sectionOne .text {
        display: none;
    }
    .sectionOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionOne .textResponsive {
        display: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 222px;
        background-color: #e3e4e5;
    }
    .sectionOne .textResponsive p:first-child {
        color: #fff;
        font-size: 20px;
        background-color: rgb(188, 8, 8);
        width: fit-content;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .sectionOne .textResponsive h1 {
        width: fit-content;
        text-align: center;
        font-size: 35px;
        font-weight: 520;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    .sectionOne .textResponsive span {
        margin-bottom: 20px;
        width: fit-content;
        font-size: 20px;
        display: block;
    }
    .sectionOne .textResponsive button {
        background-color: #1498d5;
        border: none;
        border-radius: 50px;
        padding: 15px 20px;
        cursor: pointer;
        margin-bottom: 40px;
    }
    .sectionOne .textResponsive button a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .bestSalesOne {
        height: 300px;
    }
        /* SECTION TWO */
    .sectionTwo {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }
    .sectionTwo .container {
        width: 100%;
        height: 400px;
    }
    .sectionTwo .text h1 {
        font-size: 35px;
    }
    /* SECTION THREE */
    .sectionThree {
        margin: 0;
        margin-bottom: 20px;
    }
    .sectionThree .container {
        margin: 0;
        
    }
    .sectionThree .container ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .sectionThree .container ul li {
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        text-align: center;
    }
    .sectionThree .container ul .margin {
        margin-bottom: 70px;
    }
    .sectionThree .container ul li i {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


